.about {
    background: linear-gradient(to bottom, #000 3%, #fff 97%);
}
.about h2 {
    color: #fff;
    padding-bottom: 11px;
    text-align: center;
}
.about-header p {
    color: #fff;
    text-align: center;
    padding-bottom: 68px;
}
.about_card {
    display: flex;
    justify-content: space-around;
}
.about_card-content {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    align-items: center;
}
.about_card-content-img {
    content: "";
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    background: #f5f5f5;
    border-radius: 50%;
}
.about_card-content-img_euro::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(../assets/images/euro.png) no-repeat;
}
.about_card-content-img_hat::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 57px;
    background: url(../assets/images/hat.png) no-repeat;
}
.about_card-content-img_car::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(../assets/images/car.png) no-repeat;
}
.about_card h3 {
    padding-top: 18px;
    padding-bottom: 30px;
}
.about_card-text_content {
    color: #111;
    text-align: center;
}