.payment {
    background: #f5f5f5;
    position: relative;
    height: 100%;
}
.payment-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.payment-header h2 {
    padding-bottom: 43px;
    color: #000;
    text-transform: uppercase;
}
.payment-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.payment-content_column {
    background: #e7d7d8;
    border-radius: 50px;
}
.payment-card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
}
.payment-card_content-img-hand {
    content: "";
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #c4c4c4;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 8px;
}
.payment-card_content-img-hand::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 60px;
    background: url(../assets/images/hand.png) no-repeat;
}
.payment-card_content-img-part {
    content: "";
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #c4c4c4;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 8px;
}
.payment-card_content-img-part::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 60px;
    background: url(../assets/images/part.png) no-repeat;
}
.payment-card_content-img-card {
    content: "";
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #c4c4c4;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 8px;
}
.payment-card_content-img-card::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 60px;
    background: url(../assets/images/card.png) no-repeat;
}
.payment-card_content-img-cash {
    content: "";
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #c4c4c4;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 8px;
}
.payment-card_content-img-cash::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 60px;
    background: url(../assets/images/cash.png) no-repeat;
}
.payment-card_content p {
    width: 315px;
    text-align: center;
}